{% extends "base.html" %}

{% block content %}
<div class="header">
    <div class="page-title">All Deals</div>
    <div class="header-bar ms-auto">
       <!-- <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right"  onclick="window.location.href='manufacturer-insert.html';" >Save </button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right">Cancel </button>
          </li>
          </ul> -->
    </div>
 </div>
 <!-- header -->
 <!-- content -->
 <div class="content ">
    <div class="row g-4 mb-4">
       <div class="col-md-6">
          <div class="latest-div">
             <div class="heading">
                <h1>Deals Of The Day</h1>
                <input name="" type="text" id="" value="Deals Of The Day" class="form-control" aria-label="" aria-describedby="basic-addon1" style="width: auto; float: left; margin: 0 0.5em;">
                <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='#';" target="_blank" >Update</button>
             </div>
          </div>
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <thead>
                         <tr class="rwsth">
                            <th>Deal Id</th>
                            <th>Product Id</th>
                            <th><i class="bi bi-gear"></i></th>
                         </tr>
                      </thead>
                      <tbody class="category_table">
                         <tr class="rwspending">
                            <td>1</td>
                            <td><input name="" type="text" id="" value="62" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                         <tr class="rwspending">
                            <td>2</td>
                            <td><input name="" type="text" id="" value="583" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <div class="latest-div">
             <div class="heading">
                <h1>Biggest Offers</h1>
                <input name="" type="text" id="" value="Biggest Offers" class="form-control" aria-label="" aria-describedby="basic-addon1" style="width: auto; float: left; margin: 0 0.5em;">
                <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='#';" target="_blank" >Update</button>
             </div>
          </div>
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <thead>
                         <tr class="rwsth">
                            <th>Deal Id</th>
                            <th>Product Id</th>
                            <th><i class="bi bi-gear"></i></th>
                         </tr>
                      </thead>
                      <tbody class="category_table">
                         <tr class="rwspending">
                            <td>1</td>
                            <td><input name="" type="text" id="" value="205" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                         <tr class="rwspending">
                            <td>2</td>
                            <td><input name="" type="text" id="" value="234" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    <div class="row g-4 mb-4">
       <div class="col-md-6">
          <div class="latest-div">
             <div class="heading">
                <h1>Explore Brands</h1>
                <input name="" type="text" id="" value="Explore Brands" class="form-control" aria-label="" aria-describedby="basic-addon1" style="width: auto; float: left; margin: 0 0.5em;">
                <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='#';" target="_blank" >Update</button>
             </div>
          </div>
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <thead>
                         <tr class="rwsth">
                            <th>Deal Id</th>
                            <th>Product Id</th>
                            <th><i class="bi bi-gear"></i></th>
                         </tr>
                      </thead>
                      <tbody class="category_table">
                         <tr class="rwspending">
                            <td>1</td>
                            <td><input name="" type="text" id="" value="587" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                         <tr class="rwspending">
                            <td>2</td>
                            <td><input name="" type="text" id="" value="223" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <div class="latest-div">
             <div class="heading">
                <h1>Trends Of the Season</h1>
                <input name="" type="text" id="" value="Trends Of the Season" class="form-control" aria-label="" aria-describedby="basic-addon1" style="width: auto; float: left; margin: 0 0.3em;">
                <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='#';" target="_blank" >Update</button>
             </div>
          </div>
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <thead>
                         <tr class="rwsth">
                            <th>Deal Id</th>
                            <th>Product Id</th>
                            <th><i class="bi bi-gear"></i></th>
                         </tr>
                      </thead>
                      <tbody class="category_table">
                         <tr class="rwspending">
                            <td>1</td>
                            <td><input name="" type="text" id="" value="561" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                         <tr class="rwspending">
                            <td>2</td>
                            <td><input name="" type="text" id="" value="560" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                            <td>
                            <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Update</a>
                            </div>
                            </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}