{% extends "base.html" %}

{% block content %}
<div class="header">
    <div class="page-title">Customer Banned Ip</div> 
 <!--    <div class="header-bar ms-auto">
       <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';" >Export CSV</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-light btn-icon-right" onclick="window.location.href='';" >Inactive Monthly Status</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right">delete </button>
          </li>
       </ul>
    </div> -->
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">   
 <div class="card">
    <div class="card-body">
       <!-- <div class="table-responsive">
          <table id="users" class="table table-custom table-lg">
             <thead>
                <tr>
                   <th>
                      <input class="form-check-input select-all" type="checkbox" data-select-all-target="#users"
                         id="defaultCheck1">
                   </th>
                   <th>Customer ID <img src="assets/images/desc.png"></th>
                   <th>Username <img src="assets/images/desc.png"></th>
                   <th>Joining Date <img src="assets/images/desc.png"></th>
                   <th><i class="bi bi-gear"></i></th>
                </tr>
             </thead>
             <tbody class="category_table">
                <tr>
                   <td><input class="form-check-input" type="checkbox"></td>
                   <td>192</td>
                   <td>vinupriyarajasekaran@gmail.com</td>
                   <td>10 October 2022</td>
                   <td>
                      <div class="dropdown">
                         <a href="#" data-bs-toggle="dropdown"
                            class="btn btn-white"
                            aria-haspopup="true" aria-expanded="false">
                         <i class="bi bi-three-dots"></i>
                         </a>
                         <div class="dropdown-menu dropdown-menu-end">
                            <a href="https://www.atvenco.com/webmaster/print-invoice.php?oid=228" class="dropdown-item"><i class="bi bi-printer"></i> Print</a>
                         </div>
                      </div>
                   </td>
                </tr>
                
                <tr>
                   <td colspan="11">
                      <div class="pagination">
                         <div class="results">
                            <a href="#" class="search-next">Prev &#xab;</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#" class="search-next">Next &#xbb;</a>
                         </div>
                      </div>
                   </td>                  
                </tr> 
             </tbody>
          </table>
       </div> -->
    </div>
 </div>
 </div>
{% endblock %}