{% extends "base.html" %}

{% block content %}
<div class="header">
    <div class="page-title">Banner Insert</div>
    <div class="header-bar ms-auto">
       <!-- <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';" >Insert</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right" onclick="window.location.href='';" >Delete</button>
          </li>
       </ul> -->
    </div>
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">
 <div class="card">
    <div class="card-body">
       <div class="table-responsive">
          <table id="users" class="table table-custom table-lg">           
             <tbody class="category_table">
                <tr>
                   <td>Caption</td>
                   <td>&nbsp;&nbsp;</td> 
                   <td><input name="txtcatname" type="text" id="txtcatname" value="" class="form-control" aria-label="txtcatname" aria-describedby="basic-addon1"></td>                                
                </tr> 
                <tr>
                   <td>Description</td> 
                   <td>&nbsp;&nbsp;</td>
                   <td><textarea name="" class="form-control" id=""></textarea></td>   
                </tr>  
                <tr>
                   <td>Image</td> 
                   <td>&nbsp;&nbsp;</td>
                   <td><input name="file" id="status" type="file" data-placeholder="status"></td>
                </tr> 
                 <tr>
                   <td>Link</td> 
                   <td>&nbsp;&nbsp;</td>
                   <td><input name="txtcatname" type="text" id="txtcatname" value="" class="form-control" aria-label="txtcatname" aria-describedby="basic-addon1"></td>
                </tr> 
                <tr>
                   <td>Sort Order</td> 
                   <td>&nbsp;&nbsp;</td>
                   <td><input name="txtcatname" type="text" id="txtcatname" value="" class="form-control" aria-label="txtcatname" aria-describedby="basic-addon1"></td>
                </tr> 
                 <tr>
                   <td>Postion on home page</td>
                   <td>&nbsp;&nbsp;</td> 
                   <td>
                      <select name="sources" id="sources" class="custom-select sources" data-placeholder="Position">
                      <option value="0">Postion</option>
                      <option value="slide">Slideshow(width:790,height:415)</option>
                      <option value="banner1">Banner 1 into 3 size(width:380,height:125)</option>
                      <option value="banner2">Banner 2 Below Slideshow size(width:380,height:150)</option> 
                   </select></td>
                </tr>                 
                 <tr>
                   <td>Status</td> 
                   <td>&nbsp;&nbsp;</td>
                   <td>
                      <select name="sources" id="sources" class="custom-select sources" data-placeholder="Select Status">
                      <option value="0">Select Status</option>
                      <option value="1" selected="selected">Enabled</option>
                      <option value="2">Disabled</option>
                   </select>
                   </td>
                </tr> 
                 <tr>
                   <td colspan="2">&nbsp;&nbsp;</td>
                   <td><button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';" >Submit</button></td> 
                </tr>   
             </tbody>
          </table>
       </div>
    </div>
 </div>
 </div> 
{% endblock %}