{% extends "base.html" %}

{% block content %}
<!-- header -->
<div class="header">
    <div class="page-title">Import Data</div>
       <div class="header-bar ms-auto">
      <!--  <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';" >Insert</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right">Delete </button>
          </li>
       </ul> -->
    </div>
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content">
 <div class="row g-4 mb-4">
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-code text-teal me-2"></i>
                             <span>Import Category</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="import-category.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-code text-teal me-2"></i>
                             <span>Import Manufacturer</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="import-manufacturer.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-medical text-success me-2"></i>
                             <span>Import Product Clothing</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="import-product-xlsx.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-medical text-success me-2"></i>
                             <span>Import Product Jewellery</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="import-product-xlsx-jewellery.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-medical text-success me-2"></i>
                             <span>Download for Product Clothing</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-medical text-success me-2"></i>
                             <span>Download for Jewellery</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 </div>
 
 <div class="row g-4 mb-4">
    <div class="col-md-12 im-datta">
          <p>WARNINGS: Use with caution! Without perior knowledge please don't use this sections.</p>
          <h5>Download Original Samples</h5>
    </div>
 </div>
 
 <div class="row g-4 mb-4">
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-code text-teal me-2"></i>
                             <span>Download for Product Clothing</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <div class="card-body">
                     <div class="d-flex">
                         <div>
                             <i class="bi bi-file-earmark-code text-teal me-2"></i>
                             <span>Download for Jewellery</span>
                         </div>
                         <div class="dropdown ms-auto">
                             <a href="#" class="btn btn-white btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                 <i class="bi bi-three-dots"></i>
                             </a>
                             <div class="dropdown-menu" style="margin: 0px;">
                                 <a href="#" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 </div>
 </div>
{% endblock %}