{% extends "base.html" %}

{% block content %}
<!-- header -->
<div class="header">
    <div class="page-title">Newsletter</div>
    <div class="header-bar ms-auto">
       <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';">Export CSV</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right">Delete </button>
          </li>
       </ul>
    </div>
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">
    <div class="card">
       <div class="card-body">
          <div class="table-responsive" tabindex="1">
             <table id="users" class="table table-custom table-lg">
                <thead>
                   <tr>
                      <th>
                         <input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1">
                      </th>
                      <th>Name</th>
                      <th>Email</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td><input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1"></td>
                      <td></td>
                      <td>sundeep275@gmail.com</td>
                   </tr>
                   <tr>
                      <td><input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1"></td>
                      <td></td>
                      <td>piouspick@gmail.com</td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
{% endblock %}