{% extends "base.html" %}

{% block content %}
<!-- header -->
<div class="header">
    <div class="page-title">Redirection</div>
    <div class="header-bar ms-auto">
       <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
             <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='redirection-insert.php';">Insert</button>
          </li>
          <li class="nav-item">
             <button type="button" class="btn btn-secondary btn-icon-right">Delete </button>
          </li>
       </ul>
    </div>
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">
    <div class="card">
       <div class="card-body">
          <div class="table-responsive" tabindex="1">
             <table id="users" class="table table-custom table-lg">
                <thead>
                   <tr>
                      <th>S.No.</th>
                      <th>
                         <input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1">
                      </th>
                      <th>Source</th>
                      <th>Status</th>
                      <th><i class="bi bi-gear"></i></th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>2</td>
                      <td><input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1"></td>
                      <td>Https://atvenco.com/women-designer-kurta/category/kurta-design-for-women</td>
                      <td>Enable</td>
                      <td>
                         <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-white" aria-haspopup="true" aria-expanded="false">
                               <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                               <a href="redirection-edit.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                            </div>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td>3</td>
                      <td><input class="form-check-input select-all" type="checkbox" data-select-all-target="#users" id="defaultCheck1"></td>
                      <td>Https://atvenco.com/women-kurtis-tops/category/kurtis-and-tops</td>
                      <td>Enable</td>
                      <td>
                         <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-white" aria-haspopup="true" aria-expanded="false">
                               <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                               <a href="redirection-edit.php" class="dropdown-item"><i class="bi bi-pencil-square"></i> Edit</a>
                            </div>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
{% endblock %}