{% extends "base.html" %}

{% block content %}
 <!-- header -->
 <div class="header">
    <div class="page-title">Sales Order Exports > For ShipRocket</div>
    <div class="header-bar ms-auto">
       <ul class="navbar-nav justify-content-end gap-3">
          <li class="nav-item">
       </ul>
    </div>
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">
    <div class="card">
       <div class="card-body">
          <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
             <table id="users" class="table table-custom table-lg">
                <tbody>
                   <tr>
                      <td colspan="2">
                         <h3>Orders Export for Shiprokect</h3>
                      </td>
                   </tr>
                   <tr>
                      <td>Start Date</td>
                      <td><input name="txtcatname" type="text" id="txtcatname" value="Start Date" class="form-control" aria-label="txtcatname" aria-describedby="basic-addon1"> </td>
                   </tr>
                   <tr>
                      <td>End Date</td>
                      <td><input name="seoprefix-product" type="text" id="seoprefix-product" value="End Date" class="form-control" aria-label="seoprefix-product" aria-describedby="basic-addon2"> </td>
                   </tr>
                   <tr>
                      <td>Order Status</td>
                      <td><select name="sources" id="sources" class="custom-select sources" data-placeholder="All">
                            <option value="0">All</option>
                            <option value="1">Pending</option>
                            <option value="2">Accepted &amp; Processing</option>
                            <option value="3">Packaged</option>
                            <option value="4">In Transit</option>
                            <option value="5">Delivered</option>
                            <option value="7">Failed</option>
                            <option value="8">Cancellation in Process</option>
                            <option value="9">Return in Process</option>
                            <option value="10">Return Accepted</option>
                            <option value="11">Cancellation Accepted</option>
                            <option value="12">Cancellation Resolved</option>
                            <option value="13">Return Resolved</option>
                         </select></td>
                   </tr>
                   <tr>
                      <td colspan="2">
                         <button class="btn btn-primary" type="button" id="btn-email" name="submit">
                            <span>Export</span>
                         </button>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
{% endblock %}