{% extends "base.html" %}

{% block content %}
<div class="header">
    <div class="page-title">Slider 1</div>
    <div class="header-bar ms-auto">
       <!-- <ul class="navbar-nav justify-content-end gap-3">
       <li class="nav-item">
          <button type="button" class="btn btn-primary btn-icon-right"  onclick="window.location.href='manufacturer-insert.html';" >Save </button>
       </li>
       <li class="nav-item">
          <button type="button" class="btn btn-secondary btn-icon-right">Cancel </button>
       </li>
       </ul> -->
    </div>
 </div>
 <!-- header -->
 <!-- content -->
 <div class="content ">
    <div class="row g-4 mb-4">
       <div class="col-md-4">
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <tbody class="category_table">
                         <tr>
                            <td><img src="https://atvenco.com/webmaster/assets/images/slider/Slider-111-Recovered.jpg" width="100%" height="100px"></td>
                         </tr>
                         <tr>
                            <td><strong>Slide Link</strong></td>
                         </tr>
                         <tr>
                            <td><input name="" type="text" id="" value="women-tops" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                         </tr>
                         <tr>
                            <td><strong>Status Show</strong></td>
                         </tr>
                         <tr>
                            <td><input class="form-check-input select-all" type="checkbox" id="defaultCheck1"></td>
                         </tr>
                         <tr>
                            <td><strong>Select Image( 1920 x 504 )</strong></td>
                         </tr>
                         <tr>
                            <td><input name="file" id="status" type="file" data-placeholder="status"></td>
                         </tr>
                         <tr>
                            <td><button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';">Update</button></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-4">
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <tbody class="category_table">
                         <tr>
                            <td><img src="https://atvenco.com/webmaster/assets/images/slider/Slider-2.jpg" width="100%" height="100px"></td>
                         </tr>
                         <tr>
                            <td><strong>Slide Link</strong></td>
                         </tr>
                         <tr>
                            <td><input name="" type="text" id="" value="women-kurtis-kurtas" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                         </tr>
                         <tr>
                            <td><strong>Status Show</strong></td>
                         </tr>
                         <tr>
                            <td><input class="form-check-input select-all" type="checkbox" id="defaultCheck1"></td>
                         </tr>
                         <tr>
                            <td><strong>Select Image( 1920 x 504 )</strong></td>
                         </tr>
                         <tr>
                            <td><input name="file" id="status" type="file" data-placeholder="status"></td>
                         </tr>
                         <tr>
                            <td><button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';">Update</button></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-4">
          <div class="card">
             <div class="card-body">
                <div class="table-responsive" tabindex="1">
                   <table id="users" class="table table-custom table-lg">
                      <tbody class="category_table">
                         <tr>
                            <td><img src="https://atvenco.com/webmaster/assets/images/slider/Slider-11-Recovered.jpg" width="100%" height="100px"></td>
                         </tr>
                         <tr>
                            <td><strong>Slide Link</strong></td>
                         </tr>
                         <tr>
                            <td><input name="" type="text" id="" value="women-wear-pants-capris" class="form-control" aria-label="" aria-describedby="basic-addon1"></td>
                         </tr>
                         <tr>
                            <td><strong>Status Show</strong></td>
                         </tr>
                         <tr>
                            <td><input class="form-check-input select-all" type="checkbox" id="defaultCheck1"></td>
                         </tr>
                         <tr>
                            <td><strong>Select Image( 1920 x 504 )</strong></td>
                         </tr>
                         <tr>
                            <td><input name="file" id="status" type="file" data-placeholder="status"></td>
                         </tr>
                         <tr>
                            <td><button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';">Update</button></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>


 </div>
{% endblock %}