{% extends "base.html" %}

{% block content %}
<!-- header -->
<div class="header">
    <div class="page-title">Review</div>
    <!--    <div class="header-bar ms-auto">
    <ul class="navbar-nav justify-content-end gap-3">
       <li class="nav-item">
          <button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';" >Export CSV</button>
       </li>
       <li class="nav-item">
          <button type="button" class="btn btn-light btn-icon-right" onclick="window.location.href='';" >Inactive Monthly Status</button>
       </li>
       <li class="nav-item">
          <button type="button" class="btn btn-secondary btn-icon-right">delete </button>
       </li>
    </ul>
 </div> -->
 </div>
 <!-- ./ header -->
 <!-- content -->
 <div class="content ">
    <div class="card">
       <div class="card-body">
          <div class="table-responsive" tabindex="1">
             <table id="users" class="table table-custom table-lg">
                <tbody>
                   <tr>
                      <td>Status</td>
                      <td>
                         <select name="sources" id="sources" class="custom-select sources" data-placeholder="Status">
                            <option value="0">Status</option>
                            <option value="1">Enabled</option>
                            <option value="2">Disabled</option>
                         </select>
                      </td>
                   </tr>
                   <tr>
                      <td colspan="2"><button type="button" class="btn btn-primary btn-icon-right" onclick="window.location.href='';">Submit</button></td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
{% endblock %}