<div class="menu">
    <div class="menu-header">
        <a href="/v1/index" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        <ul>
            <li>
                <a href="/">
                    <span class="nav-link-icon">
                    </span>
                    <span>DASHBOARD</span>
                </a>
            </li>
            <li>
                <a href="/#" class="active">
                    <span class="nav-link-icon">
                    </span>
                    <span>CATALOG</span>
                </a>
                <ul>
                    <li><a href="/v1/category">Categories</a></li>
                    <li><a href="/v1/products">Products</a></li>
                    <li><a href="/v1/manufacturer">Manufacturer</a></li>
                    <li><a href="/v1/products/features">Featured Product</a></li> 
                </ul>
            </li>
            <li>
                <a href="/#">
                    <span class="nav-link-icon">
                    </span>
                    <span>SALES</span>
                </a>
                <ul>
                    <li><a href="/v1/orders">Orders</a></li>
                    <li><a href="/v1/orders/failed">Orders Failed</a></li>
                    <li><a href="/v1/customer">Customer</a></li>
                    <li><a href="/v1/customer/group">Customer Group</a></li>
                    <li><a href="/v1/banner/dip">Banned Ip</a></li>
                    <li><a href="/v1/coupon">Coupon</a></li>
                </ul>
            </li>
            <li>
                <a href="/v1/#">
                    <span class="nav-link-icon">
                    </span>
                    <span>REPORTS</span>
                </a>
                <ul>
                    <li><a href="/v1/sales-orders">Sales Order</a></li>
                    <li><a href="/v1/sales-orders/shipment">Sales Shipment</a></li>
                    <li><a href="/v1/low-stock-product">Low Stock Products</a></li> 
                </ul>
            </li>
            <li>
                <a href="/v1/#">
                    <span class="nav-link-icon">
                    </span>
                    <span>SYSTEM</span>
                </a>
                <ul>
                    <li><a href="/v1/setting">Settings</a></li>
                    <li><a href="/v1/users">Users</a></li>
                    <li><a href="/v1/users/group">Users Group</a></li>
                    <li><a href="/v1/postcode">Postcode</a></li>
                    <li><a href="/v1/banners">Banners</a></li>
                    <li><a href="/v1/pages">Pages</a></li>
                    <li><a href="/v1/delivery-vendor">Delivery Vendor</a></li>
                    <li><a href="/v1/testimonials">Testimonials</a></li>
                    <li><a href="/v1/newsletter">Newsletter</a></li>
                    <li><a href="/v1/redirection">Redirect</a></li>
                </ul>
            </li>
            <li>
                <a href="/v1/#">
                    <span class="nav-link-icon">
                    </span>
                    <span>IMPORT
                        <!-- / EXPORT -->
                    </span>
                </a>
                <ul>
                    <li><a href="/v1/import">Import Data</a></li>
                    <!-- <li><a href="/v1/#">Export Order Shiproket</a></li> -->
                </ul>
            </li>
            <li>
                <a href="/v1/#">
                    <span class="nav-link-icon">
                    </span>
                    <span>HOME PAGE</span>
                </a>
                <ul>
                    <li><a href="/v1/slider">Slider 1</a></li>
                    <li><a href="/v1/all-deals">All Deals</a></li>
                    <li><a href="/v1/category/section">Home Categories section</a></li> 
                </ul>
            </li> 
        </ul>
    </div>
</div>